<!doctype html>
<html>
  <head>
    <title>Kamertje</title>
  </head>
  <style>
    /* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
      display: block;
    }
    body {
      line-height: 1;
    }
    ol, ul {
      list-style: none;
    }
    blockquote, q {
      quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
      content: '';
      content: none;
    }
    table {
      border-collapse: collapse;
      border-spacing: 0;
    }

    html {
      box-sizing: border-box;
    }
    *, *:before, *:after {
      box-sizing: inherit;
    }

    .building {
      display: flex;
      flex-wrap: wrap;
      width: 300px;
    }
    .kamer {
      display: block;
      border: 1px solid #ddd;
      width: 100px;
      height: 100px;
      position: relative;
    }
    .muur {
      position: absolute;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #ddd;
      display: block;
      width: inherit;
      height: inherit;
    }
    .muur:hover:not(:disabled) {
      background-color: #000;
    }
    .muur:disabled {
      cursor: not-allowed;
    }
    .muur.blue {
      background-color: blue;
    }
    .muur.red {
      background-color: red;
    }
    .topWall {
      top: 0;
      left: 0;
      right: 0;
      height: 5px;
    }
    .rightWall {
      right: 0;
      top: 0;
      bottom: 0;
      width: 5px;
    }
    .bottomWall {
      bottom: 0;
      left: 0;
      right: 0;
      height: 5px;
    }
    .leftWall {
      left: 0;
      top: 0;
      bottom: 0;
      width: 5px;
    }
  </style>
  <body>
  <div id="kamertje">
    <div v-if="winner().length > 0" class="win">{{ winner() }} wins</div>
    <h2>Pick your color:</h2>
    <label for="red"><input v-model="playerColor" type="radio" id="red" value="red" />Red</label>
    <label for="blue"><input v-model="playerColor" type="radio" id="blue" value="blue" />Blue</label>

    <h2>Building</h2>
    <ul class="building">
      <li v-for="room in sortedRooms" class="kamer">
        <template v-for="wall in ['topWall', 'rightWall', 'bottomWall', 'leftWall']">
          <button href="#" @click="updateRoom(room.number, wall)"
                  :disabled="checkWall(room.number, wall)"
                  :class="['muur', wall, room[wall]]"></button>
        </template>
      </li>
    </ul>
    <div class="score">
      <h2>Score</h2>
      <ul>
        <li>
          <h3>Red:</h3>
          {{ nrOfRooms('red') }}
        </li>
        <li>
          <h3>Blue:</h3>
          {{ nrOfRooms('blue') }}
        </li>
      </ul>
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="javascripts/kamertje.js"></script>
  </body>
</html>
